자주 사용하는 단축키
- a는 아래에 1셀 추가
- b는 위에 1셀 추가
- x는 셀 삭제
- z는 이전 작업 취소
- ctrl + enter : 현재 셀 실행
- alt + enter : 현재 셀 실행 후 아래에 1셀 추가

In [5]:
# 파이썬의 주석문

In [4]:
'Hello! world'

'Hello! world'

### 데이터 타입
- 숫자형(정수, 실수)
- 문자형
- 논리형

In [8]:
# 숫자형 - 정수
print(123)
print(-100)

123
-100

In [10]:
# 실수형
123.123 - 100.100

23.02300000000001

In [14]:
# 문자형
print('문자는 작은따옴표로 만들 수 있습니다')
print("문자는 큰 따옴표로도 만들 수 있습니다.")

문자는 작은따옴표로 만들 수 있습니다
문자는 큰 따옴표로도 만들 수 있습니다.

In [15]:
print('#' * 50)

##################################################

In [16]:
# 논리형
print(True)
print(False)

True
False

In [18]:
print(1 == True)
print(0 == False)
print('a' == True) # 문자와도 비교가 가능합니다.

True
True
False

## 자료구조
- 자료형은 데이터가 어떻게 생겼는가에 대한 이야기
- 자료구조는 데이터를 어떻게 쌓을(저장) 것인가에 대한 이야기

#### 리스트
- 다른 데이터형을 같이 저장할 수 있는 구조
- 리스트는 [] 입니다.
- 리스트는 index라는 방의 번호로 구분되어 있습니다.

In [23]:
a = [1, 2, 3]
a

[1, 2, 3]

In [26]:
# 실습하기. a에서 숫자 1을 조회해주세요. a에서 0번째 방을 조회해주세요.
a[0]

1

In [27]:
# 문자 리스트
b = ['a', 'b', 'c']
# b ['a'] = TypeError 발생
b[0]

'a'

In [29]:
# 파이썬은 배열이라는 개념이 없음
# - 문자열만 배열처럼 사용이 가능함
'abc'[0]

'a'

In [30]:
# 리스트에는 다른 유형의 자료형이 동시에 저장이 됩니다.
d = [True, 1, '2', 'Korea']
d

[True, 1, '2', 'Korea']

In [31]:
# 파이썬으로 데이터 분석을 하는 것이 아니라 판다스를 통해 데이터를 분석 가능함

In [33]:
# 데이터 타이블 확인하는 방법
print(type(d[1])) # 숫자형
print(type(d[3])) # 문자열

<class 'int'>
<class 'str'>

### 데이터 값 수정하기

In [34]:
# 변수값(스칼라) 만들기
a = 1
a

1

In [35]:
# 실습하기. a의 값을 korea로 변경해주세요
a = 1
a = 'korea'
a

'korea'

In [36]:
# 리스트 만들기
b = [1, 2, 3]
b

[1, 2, 3]

In [37]:
# 실습하기. b의 1번째 방(값2)의 값을 korea로 변경해주세요
b[1] = 'korea'
b

[1, 'korea', 3]

In [39]:
# 리스트 값 삭제하기
a = [1, 2, 3, 4, 5]
a

del a[0]

In [40]:
a

[2, 3, 4, 5]

In [41]:
a[0]

2

### 딕셔너리 자료구조
- key와 value의 쌍(페어)으로 이루어진 자료구조
- {}는 딕셔너리 자료구조
- 순서, index, 방의 번호가 없습니다.
- 반정형 구조인 json과 동일한 구조

In [43]:
# 딕셔너리 구조 만들기
dic_a = {'key1':'Value1', 'key2':'value2'}
dic_a

{'key1': 'Value1', 'key2': 'value2'}

In [48]:
# 딕셔너리 조회하기
print(dic_a['key1'])
print(dic_a.get('key2'))

Value1
value2

In [49]:
# 실습하기. dic_a의 key1의 값을 korea로 변경해주세요
dic_a['key1'] = 'korea'
dic_a

{'key1': 'korea', 'key2': 'value2'}

In [53]:
# 실습하기. dic_a의 key3에 빅데이터라는 값을 추가해주세요
dic_a['key3'] = '빅데이터'
dic_a

{'key1': 'korea', 'key2': 'value2', 'key3': '빅데이터'}

In [58]:
# 리스트에 값 추가하기
c = [0, 1]
# c의 2번째 방에 2라는 값을 추가하기
# c[2] = 2
# - 리스트형은 함수를 이용하여 값을 추가합니다.
c.append(2)

In [59]:
c

[0, 1, 2]

In [60]:
# 모든 요소 지우기
dic_a.clear()

In [61]:
dic_a

{}