# **14_review**

In [ ]:
import pandas as pd
import numpy as np

### **Series 만들기**

In [ ]:
pd.Series(['San Francisco', 'San Jose', 'Sacramento'])

0    San Francisco
1         San Jose
2       Sacramento
dtype: object

### **Dataframe 만들기**

In [ ]:
city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
population = pd.Series([800000, 1000000, 480000])

df_cities = pd.DataFrame({'city_name':city_names, 'population':population})
df_cities

       city_name  population
0  San Francisco      800000
1       San Jose     1000000
2     Sacramento      480000

In [ ]:
# 데이터 형 확인
type(df_cities)
type(city_names)

pandas.core.series.Series

In [ ]:
# 실습하기. city_name열의 모든 데이터를 조회해주세요
df_cities.loc[:, 'city_name']

0    San Francisco
1         San Jose
2       Sacramento
Name: city_name, dtype: object

In [ ]:
# 실습하기. loc문법을 이용하여 1행의 city_names을 데이터를 조회해주세요
df_cities.loc[1:, 'city_name']

1      San Jose
2    Sacramento
Name: city_name, dtype: object

In [ ]:
# 실습하기. loc문법을 이용하여 0행, 2행의 데이터를 조회해주세요.
df_cities.loc[[0, 2], :]

       city_name  population
0  San Francisco      800000
2     Sacramento      480000

In [ ]:
df_cities

       city_name  population
0  San Francisco      800000
1       San Jose     1000000
2     Sacramento      480000

### **데이터 조작하기**

In [ ]:
population / 1000

0     800.0
1    1000.0
2     480.0
dtype: float64

### **인구가 백 만명을 이상인지를 나타내는 새로운 을 Seires만들기**

In [ ]:
population

0     800000
1    1000000
2     480000
dtype: int64

In [ ]:
df_cities['is_big'] = population.apply(lambda val: val >= 1000000)

In [ ]:
df_cities['Area square miles'] = pd.Series([46.87, 176.00, 97.00])

In [ ]:
df_cities

       city_name  population  is_big  Area square miles
0  San Francisco      800000   False              46.87
1       San Jose     1000000    True             176.00
2     Sacramento      480000   False              97.00

### **실습하기. 다음 두 명제 모두 True인 경우에만 True인 새 논리값 열을 추가하여 주세요**
- 명제1. 도시 이름은 성인의 이름을 본따서 지었다.
- 명제2. 도시 면적(Area Square miles)이 50마일보다 넓다.


### **새로운 열의 이름은 is wide and has saint name**
- 스페인어에서 San은 성인의 의미입니다.

In [ ]:
a = df_cities.city_name.apply(lambda name: name.startswith('San'))
a

0     True
1     True
2    False
Name: city_name, dtype: bool

In [ ]:
b = df_cities.loc[:, 'Area square miles'] > 50
b

0    False
1     True
2     True
Name: Area square miles, dtype: bool

In [ ]:
df_cities['is wide and has saint name'] = a&b
df_cities

       city_name  population  ...  Area square miles  is wide and has saint name
0  San Francisco      800000  ...              46.87                       False
1       San Jose     1000000  ...             176.00                        True
2     Sacramento      480000  ...              97.00                       False

[3 rows x 5 columns]